# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd
*.dll

# Distribution / packaging
.Python
build/
cmake-build-*/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pdm
.pdm.toml
.pdm-python
.pdm-build/
pdm.lock

# PEP 582; used by some package managers
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
# JetBrains specific settings
.idea/

# C++ specific files
# Ignore object files, binaries, and debug files
*.obj
*.o
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.pdb
*.ilk
*.iobj
*.ipdb
*.rsp

# Ignore CMake generated files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeLists.txt.user

# Ignore Visual Studio-specific files
*.vcxproj*
*.sln
*.vcproj*
*.user
*.ncb
*.suo
*.opt
*.plg
*.idb
*.pdb

# Ignore CLion-specific files
cmake-build-debug/
cmake-build-release/
.idea/

# Ignore Qt Creator specific files
*.pro.user
*.qmake.stash
*.qmake.cache

# Ignore backup and temporary files
*.bak
*.swp
*.tmp

# Ignore generated Python bindings and C++ builds
build/
